body {
   position: relative;
   background-repeat:no-repeat;
   background-size:100% 100vh;
   background-color: #F5F5F5;
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}


.navbar{
   margin-bottom: 40px;
}

hr{
   height:1px;
   border:none;
   color:#333;
   background-color:#333;
   margin-bottom: 0px;
}

.index-container{
   /*position: relative;*/
}

.about-text{
   position: absolute;
   top: 50%;
   left:25%;
}

#Luigi{
   margin-bottom:30px;
   border-radius: 50%;
}

.project-list{
   list-style-type:none;
}

.project{
   padding-bottom: 20px;
   border-bottom-width: 1px;
   margin-bottom: 20px;
}
.project-name{
   font-weight: bold;
}

.project-description{
   margin-top: 10px;
}

.contact-info{
   line-height: 200%;
   
}


.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #343a40;
   color: white;
   text-align: right;
   padding: 10px;
}

.footer-item{
   font-size:20px;
   margin-left:10px;
   margin-right:10px;
   color: white;
}

.footer-item:hover{
   color: gray;
}

.icon{
   
   font-size:30px;
   margin-right:20px;

}

.icons{
   margin-top: 10px;
  
}

.icon:hover{
   color:inherit;
}

.github{
   color: black;
    
}

.linkedin, .linkedin:hover{
   color: #0077B5;
}

.giant-name{
   font-size: 66px;
}

/*#about-partition{*/
/*   padding-bottom: 20px;*/
/*   border-bottom-style: solid; */
/*   border-width: 3px;*/
/*   border-bottom-color: black;*/
/*}*/

